
/*Base Styles------------------*/


* {
	box-sizing: border-box;
}

body {
	font-family: 'Monteserrat', sans-serif;
	line-height: 1.25em;
	color: #808080;
	font-size: 0.875em;
	text-align: center;
}

h1 {
	text-align: left;
}

h2,
h3 {
	text-align: center;
}

h1,
h2 {
  	font-family: 'Fira Sans', sans-serif;
  	color: #404040;
  	font-size: 1em;
}

h3 {

	font-family: 'Fira Sans', sans-serif;
	color: #404040;
	font-size: 0.875em;
}

/*Base Layout Styles--------------------*/

.intro {
	text-align: left;
}

.profile-photo {
	float: right;
}

.main-nav {
	display: inline;
	float: right;
}
.container {
	width: 100%;
}



/*Web Fonts--------------------*/

font-family: 'Fira Sans', sans-serif;
font-family: 'Montserrat', sans-serif;